<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="m-auto col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    A website for navigating the historic landmarks in North Macedonia
                </p>
            </div>

            <div class="m-auto col-md-4 col-lg-3 col-xl-3 float-right">
                <h5>The team</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-envelope mr-2"></i>Ana Stevkovska</li>
                    <li><i class="fa fa-phone mr-2"></i>Dejan Ristovski</li>
                    <li><i class="fa fa-print mr-2"></i>Jana Trpkovska</li>
                    <li><i class="fa fa-print mr-2"></i>Stefanija Filipashikj</li>
                    <li><i class="fa fa-print mr-2"></i>Teona Shambar</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
