<section>
  <div class="container mt-5">
    <h2 class="jumbotron-heading text-center" th:text="${add != null} ? 'Add landmark' : 'Edit landmark - ' + ${landmark.getName()}"></h2>
    <hr/>
    <div th:if="${hasError}" class="alert alert-danger alert-dismissible fade show">
      <strong>Error! </strong>
      <th:block th:text="${error}"></th:block>
    </div>
    <form class="form-signin mt-2" method="post" action="/map/add">
      <label for="landmarkId" class="noDisplay"></label>
      <input id="landmarkId" hidden name="landmarkId" th:value="(${landmark!=null} ? ${landmark.getId()} : '')">
      <div class="form-group">
        <label for="name">Landmark name</label>
        <input id="name" name="name" type="text" class="form-control" th:value="(${landmark!=null} ? ${landmark.getName()} : '')" required placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="landmarkClass">Landmark class</label>
        <select id="landmarkClass" name="landmarkClass" class="form-control">
          <option th:if="${landmark!=null}" th:selected="${historicClass == landmark.getHistoricClass()}"
                  th:each="historicClass : ${historicClasses}"
                  th:text="${historicClass}">
          </option>
          <option th:if="${landmark==null}"
                  th:each="historicClass : ${historicClasses}"
                  th:text="${historicClass}">
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="lat">Landmark latitude</label>
        <input id="lat" name="lat" type="number" step="0.0000001" class="form-control" th:value="(${landmark!=null} ? ${landmark.getLat()} : '')" required placeholder="Enter latitude">
      </div>
      <div class="form-group">
        <label for="lon">Landmark longitude</label>
        <input id="lon" name="lon" type="number" step="0.0000001" class="form-control" th:value="(${landmark!=null} ? ${landmark.getLon()} : '')" required placeholder="Enter longitude">
      </div>
      <div class="form-group">
        <label for="region">Landmark region</label>
        <input id="region" name="region" type="text" class="form-control" th:value="(${landmark!=null} ? ${landmark.getRegion()} : '')" required placeholder="Enter region">
      </div>
      <div class="form-group">
        <label for="address">Landmark address</label>
        <input id="address" name="address" type="text" class="form-control" th:value="(${landmark!=null} ? ${landmark.getAddress()} : '')" required placeholder="Enter address">
      </div>
      <div class="form-group">
        <label for="photoUrl">Photo url</label>
        <input id="photoUrl" name="photoUrl" type="text" class="form-control" th:value="(${landmark!=null} ? ${landmark.getPhotoUrl()} : '')" placeholder="Enter photo url">
      </div>
      <hr>
      <button id="submit" class="btn btn-dark btn-block" type="submit">Submit</button>
      <a href="/map/edit-list" class="btn btn-block btn-light">Back</a>
    </form>
  </div>
  <br/>
</section>